@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
.main-nav {
  width: 100%;
  height: 10rem;
  display: grid;
  grid-template-columns: 10rem 1fr 2fr 1fr 10rem;
  color: rgb(240, 228, 119)  ;
  background:rgb(29, 53, 1)  ;
  /* box-shadow: rgb(49, 87, 6) 0px 50px 100px -20px,
  rgba(22, 66, 5, 0.3) 0px 30px 60px -30px;
   */
}

.logo {
  display: grid;
  /* background-color: #3b5998; */
  grid-column: 2/3;
  justify-content: start;
  align-items: center;
}
logo h2 {
  font-size: 2.5rem;
  font-weight: 400;
  text-transform: uppercase;
  background: -webkit-linear-gradient(#eee, rgb(69, 57, 248));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.logo h2 span {
  font-size: 3.5rem;
}
.menu-link {
  grid-column: 3/4;
}
.menu-links{
  grid-column: 3/4;
}
.main-nav {
  width: 100%;
  height: 10rem;
  display: grid;
  grid-template-columns: 10rem 1fr 2fr 1fr 10rem;
}

.menu-link ul {
  height: 10rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width:70%;
}
section{
  width: 100%;
  display:flex;
  flex-direction: row;
}
.icon-sec ul{
  display: flex;
  flex-direction: row;
  padding: 20px;
  
}
.icon-sec ul li {
  font-size: 1.8rem;
}
.icon-sec ul li:last-child{
  margin-left: 1rem;
}
.menu-links{
  width:50%;
  margin: auto;
}
.menu-links ul{
  height: 5rem;
  display:flex;
  justify-content: space-around;
  align-items: center;
}
.menu-links ul li a {
  font-size: 1.5rem;
  height: 10rem;
  display: flex;
  
  color: #03312e;
  /* justify-content: space-around; */
  align-items: center;
}
.menu-links ul li a:hover {
  font-weight: bold;
}
.menu-links ul li:last-child a{
  color: #c3a14d;
}

.menu-link ul li {
  font-size: 1.8rem;
  height: 10rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icon {
  grid-column: 4/5;
}

.icon ul {
  height: 10rem;
  display: grid;
  grid-template-columns: 3fr repeat(3, 1fr);
  align-items: center;
  justify-content: flex-end;
}

.icon ul li {
  text-align: right;
}

.icon ul li:first-child {
  grid-column: 2/3;
}

.menu-link ul li {
    font-size: 1.8rem;
  }
  
  .menu-link ul li a {
    text-transform: capitalize;
    color: rgb(240, 228, 119) ;
    transition: 0.5s;
  }
  .menu-link ul li:hover > a {
    transform-origin: left;
    color: rgba(0, 0, 3, 1);
    text-decoration: underline;
    transition: 0.5s;
  }

  .icon ul li {
    font-size: 1.8rem;
  }
  
  .icon .hamburger-menu {
    display: none;
    font-size: 2.5rem;
  }
  
  .coloricon{
    color: #fcfcfc;
  }
  

  @media (max-width: 1080px) {
    .main-nav {
      height: 8rem;
      grid-template-columns: 2rem 3fr 3fr 1fr 2rem;
    }

    .logo,
    .menu-link ul,
    .menu-links ul,
    .icon ul{
      height: 8rem;
    }
  }

  @media (max-width: 998px) {
    .main-nav{
      height:7rem;
      grid-template-columns: 2rem 2fr 3fr 2rem 2rem;
    }
    .menu-link,
    .menu-links{
      display: none;
    }
    .logo,
    .social-media ul{
      height: 7rem;
    }
    .mobile-menu-link{
      grid-column: 2/4;
      position: relative;
      z-index: 99;
    }

    .mobile-menu-link{
      background-color: white;
      height: 20rem;
      display: grid;
      grid-column: 2/5;
      align-items: center;
      padding-left: 3rem;
      transition: all 2s linear;
      transform-origin: top;
    }
    .mobile-menu-link ul {
      height: 20rem;
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      align-items: start;
    }
  .mobile-menu-link ul li:first-child {
    transition-delay: 0.2s;
  }
    .icon {
      grid-row: 1/2;
      grid-column: 3/5;
      justify-items: end;
      align-items: center;
      transition: all 2s linear;
    }
    .icon .icon-desktop {
      height: 0;
      display: none;
    }

  }